<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SleepAccelerometer WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SleepAccelerometer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SleepAccelerometer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02C9480520A33F540065C296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02C9481920A33F580065C296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02C9482420A33F580065C296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02C9482D20A33F580065C296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
